<html>

<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <span> Welcome screen
    </span>
    <form method="POST" action="/person">
        <label> Name : </label>
        <input type="text" id="name" name="name"/>
        <br/>
        <button type="submit">Submit</button>
    </form>
</body>

</html>