<html>

<head>
    <title>Hello </title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <span> Hello :
        <%= personName %> with ID :  <%= ID %>
    </span>
</body>

</html>